<div class="container-fluid">
    <h1>{{ title }} </h1>
    <div class="row">
        <div class="col">
            <div *ngIf="errs">
                <div *ngFor="let err of errs">
                <p>{{err}}</p> 
                </div>
            </div>
            <div class="content">
                <form (submit)="onSubmit()">
                    <!-- use the json pipe to see how newTask changes in real time -->
                    <!-- <p> {{ newCake | json }} </p> -->
                    <h6>Submit a cake to be rated</h6>
                    <hr>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Baker name: </label>
                        <input type="text" name="baker_name" [(ngModel)]="newCake.baker_name" />
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-form-label">Image url: </label>
                        <input type="text" name="image_url" [(ngModel)]="newCake.image_url" />
                    </div>
                    <input type="submit" value="SUBMIT" />
                </form>
            </div>
        </div>
        <div id="scroll" class="col">
            <!-- <p> {{ cakeReview | json }} </p> -->
            <div *ngFor="let cake of cakes">
                <div class="row">
                    <div class="col">
                        <img (click)="onImgClickEvent(cake._id)" src="{{cake.image_url}}" alt="amazing cakes" height="150" width="175">
                    </div>
                    <div class="col">
                        <form (submit)="addReview(cake._id)">
                            <input type="hidden" name="cake_id" [(ngModel)]="cake._id">
                            <select name="rating" [(ngModel)]="cakeReview.rating">
                                <option value="1">1 star</option>
                                <option value="2">2 stars</option>
                                <option value="3">3 stars</option>
                                <option value="4">4 stars</option>
                                <option value="5">5 stars</option>
                            </select>
                            <br><br>
                            <textarea rows="2" cols="30" name="comment" [(ngModel)]="cakeReview.comment"></textarea>
                            <br>
                            <input type="submit" value="Rate!">
                        </form>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div id="displayed" class="row">
        <app-cake *ngIf="selectedCake" [onImgClickEvent]="selectedCake" [average]="average"></app-cake>
    </div>


</div>
<router-outlet></router-outlet>